.content-wrapper {
  padding-top: 70px;
  width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
}

.banner-wrapper {
  width: calc(100% + 4rem);
  margin-left: -2rem;
  margin-right: -2rem;
  margin-bottom: -50px;
}

.main-layout {
  display: flex;
  gap: 1.5rem;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.cards-section {
  flex: 1;
  min-width: 0;
  overflow-x: hidden;
  max-width: calc(100% - 400px);
}

.leaderboard-section {
  display: block;
  flex: 0 0 370px;
  width: 370px;
  margin-left: auto;
}

@media (max-width: 1400px) {
  .main-layout {
    flex-direction: column;
  }

  .cards-section {
    max-width: 100%;
    width: 100%;
  }

  .leaderboard-section {
    width: 100%;
    margin-left: 0;
    flex: 1;
  }
}

@media (min-width: 1400px) {
  .leaderboard-section {
    display: block;
  }
}

@media (max-width: 768px) {
  .content-wrapper {
    padding-top: 0;
    padding-bottom: 70px;
  }
}
